{% extends 'base.twig' %}

{% block title %}
{{ headtitle }}
{% endblock %}

{%  block contenthead %}
<h2>{{ headtitle }}</h2>
{% endblock %}

{% block contentbody %}
<p>Oops, seems that this page has gone awol... or on vacation.</p>
<p>Reason aside, it isn't here. If you think it should be here, pester the admin.</p>
{% endblock %}