{% extends 'base.twig' %}

{% block contenthead %}
<h2>Under contruction.</h2>
{% endblock %}

{% block contentbody %}
    {{ dump() }}
<p>This page is under contruction. Issues can be reported on the <a href="https://bitbucket.org/AssetsInc/legio-page/issues?status=new&status=open">Issue Tracker</a></p>
{% endblock %}