<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{ title|default('Untitled page') }} - {{  brand|default('Legio Draconis') }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/additional.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/welcome/index">{{ brand|default('Legio Draconis') }}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a href="/users/register">Register</a></li>
                <li class="nav-divider"></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Login<span class="caret"></sspan></a>
                    <ul class="dropdown-menu">
                        <li>{% include '@users/login/login_form.twig' %}</li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<!-- Begin page content -->
<div class="container">
    {% if msg is not empty %}
        {% for key,items in msg %}
            {% if items is not empty %}
                {% if key == 'error' %}
                    {% set key = 'danger' %}
                {% endif %}
                <div class="alert alert-{{ key }}" role="alert">
                    {% for item in items %}
                        <p>{{ item }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="page-header">
        {% block contenthead %}
            <h1>{% block headtitle %} {{ headtitle }} {% endblock %}</h1>
        {% endblock %}
    </div>
{{ dump() }}
    {% block contentbody %}
    <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
    <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
    {% endblock %}
</div>

<div class="footer">
    <div class="container">
        <small class="text-muted">Powered by <a href="http://www.fuelphp.com/">FuelPHP</a> v{{ fuel_version }}.</small>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>


</body>
</html>