<form class="form-horizontal" role="form" action="/users/register" method="post">
    <div class="form-group">
        <label class="control-label col-md-2" for="username">Username</label>
        <input type="text" class="col-md-6" placeholder="Username" id="username" name="username">
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="password">Password</label>
        <input type="password" class="col-md-6" placeholder="Password" id="password" name="password">
        <input type="password" class="col-md-6" placeholder="Repeat Password" id="pword_rep" name="pword_rep">
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="email">E-Mail</label>
        <input type="text" class="col-md-6" placeholder="E-Mail" id="email" name="email">
        <input type="text" class="col-md-6" placeholder="Repeat E-Mail" id="email_rep" name="email_rep">
    </div>
    <label class="checkbox text-center col-md-6 col-md-offset-2">
        <input type="checkbox" class="text-center " value="1" id="accept" name="accept"> I read and accepted the <a href="/about/rules">rules</a>!
    </label>
    <button class="col-md-6 col-md-offset-2 btn btn-primary" type="submit">Register</button>
</form>