{% extends 'base.twig' %}

{% block title %}
Register an account
{% endblock %}

{% block contenthead %}
{% endblock %}

{% block contentbody %}
{% include '@users/register/register_form.twig' %}
{% endblock %}