<form role="form" action="/users/login" method="post">
    <input type="text" placeholder="Username" id="username" name="username">
    <input type="password" placeholder="Password" id="password" name="password">
    <label class="checkbox">
    <input type="checkbox" value="remember" id="remember" name="remember"> Remember me
    </label>
    <button class="btn btn-primary btn-block" type="submit">Log in</button>
</form>