{%  extends 'base.twig' %}

{%  block title %}
Log in
{% endblock %}

{% block contenthead %}
<h2>Login</h2>
{% endblock %}

{% block contentbody %}
{% include '@users/login/login_form.twig' %}
{% endblock %}